body {
    text-align: center;
    font-family: "Lato", sans-serif;
  	font-weight: 300;
  	padding-top: 0;
}

@media (min-width: 707px) {
	body {
		width:707px;
		margin: 0 auto;
	}
}


#main {
	display: flex;
}

.col-3 {
	width: 25%;
	text-align: left;
}

.col-12 {
	width: 100%;
}

/* Pop up content*/

#modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    height: 100%;
    width: 100%;
}

.modalconent {
    position: absolute;
    font-family: "Roboto", sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #fff;
    width: 50%;
    height: 50%;
    padding: 20px;
    overflow: scroll;
    text-align: left;
}

@media only screen and (max-width: 900px) {
    .modalconent {
      width: 80%;
      height: 50%;
      padding: 20px;
    }
  }

.modalconent h2 {
  color: #000;
  padding: 10px 0px 10px 0px;
  display: inline-block;
  margin: 10px 0px 10px 0px;
}
.modalconent p {
  font-weight: 100;
}

.modalconent button {
    float:center;
    background-color: #f68323;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 0 auto;
}

.modalconent button:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #f68323;
}

.modalconent p {
    word-wrap: break-word
}